body  {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd77S9sStOukR3M--6EscsPmMatP8F-ai3G5LfaJJ9ifP_mwdF') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
  color: #FF9900;
}


