body  {
  background: url('http://fc08.deviantart.net/fs50/i/2009/326/9/7/White_Fur_Texture_Background_by_SweetSoulSister.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.find_cost_button {
  color: white;
}
