<script src="js/vendor/jquery.js"></script>
<script src="js/foundation/foundation.js"></script>
<script src="js/foundation/foundation.equalizer.js"></script>

<h1> All of Our Cars </h1>
<div class="row" data-equalizer>

<% @cars.each do |car| %>
<div class="large-6 columns panel" data-equalizer-watch>
<h4><%= link_to "#{car.brand},#{car.model} #{car.year}", car_path(car) %></h4>
<br>
<%= image_tag car.car_photos.last, height: 36, width: 24 %>
<br>
</div>

<% end %>
</div>
