<div class= "panel transparent">
<h1><strong> All of Our Cars </strong></h1>
</div>
<% @cars.each do |car| %>
<div id="all">
<div class="view view-first">
  <%= image_tag car.car_photos.second.car_pic %>

     <div class="mask">
    <h4><%= "#{car.brand},#{car.model} #{car.year}" %></h4>
     <p>View This Cars Details, Reviews, and Genreate Cost</p>
     <%= link_to "Click Here", car_path(car), class: "info" %>
     </div>
</div>
<% end %>
