<h1> All of Our Cars </h1>

<% @cars.each do |car| %>
<div class="panel callout radius">
<h4><%= link_to "#{car.brand},#{car.model} #{car.year}", car_path(car) %></h4>
</div>
<% end %>


google_maps_api_id=AIzaSyAQsC3_I68WVARJnN0oZJIvBYKHn9Z_RB4
